.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
  padding-top: 25px;
}

.title {
  margin-left: 25px;
  font-size: 18px;
}

.titleLink {
  text-decoration: none;
  color: #000000d9;
}

.buttons {
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signIn {
  margin-right: 15px;
  font-size: 18px;
  background: inherit;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.signUp {
  font-size: 18px;
  background: inherit;
  color: #52c41a;
  border: 1px solid #52c41a;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.createAtricle {
  margin-right: 15px;
  font-size: 18px;
  background: inherit;
  color: #52c41a;
  border: 1px solid #52c41a;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.logOut {
  margin-right: 15px;
  font-size: 18px;
  background: inherit;
  border: 1px solid #000000bf;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.userLink {
  margin-right: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.userName {
  margin-right: 15px;
  color:#000000d9;
}

.userPic {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.signIn:hover,
.logOut:hover {
  background-color: rgb(235, 233, 233);
}

.signIn:focus,
.signIn:active,
.logOut:focus,
.logOut:active {
  background-color: inherit;
  outline: none;
}

.signUp:hover,
.createAtricle:hover {
  background-color: #c0e1b0;
}

.signUp:focus,
.signUp:active,
.createAtricle:focus,
.createAtricle:active {
  background-color: inherit;
  outline: none;
}
